.navbar{
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    z-index: 1000;
    width: 100%;
    height: 64px;
}

.btn-navbar{
    padding: 6px;
    margin-left:6px;
    background-color: transparent;
    border-color: transparent;
    color: #292a31;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.btn-navbar i {
  display: block;               /* remove inline spacing from icon */
  font-size: 24px;
}

.btn-navbar:hover{
    background-color: #159997;
    border-color: transparent;
    border-radius: 5px;
    color: #eff5fa;
}

.btn-navbar:not(:disabled):not(.disabled):active,
.btn-navbar:not(:disabled):not(.disabled).active,
.show>.btn-navbar.dropdown-toggle {
    color: #eff5fa;
    background-color: #14a7a5;
    border-color: transparent;
}
